<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-pdftopng"
    version="0.3.0">

    <name>PDF to PNG</name>
    <description>Cordova Plugin to render a PDF Page (selectable) to a PNG Image</description>
    <license>MIT</license>
    <keywords>cordova,plugin,pdf,png,base64,android,ios,swift</keywords>
    <author>Dominic Roesmann (dominic.roesmann@googlemail.com)</author>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/pdftopng.js" name="pdftopng">
      <clobbers target="pdftopng" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="PdfToPng">
          <param name="ios-package" value="PdfToPng" />
        </feature>
      </config-file>
      <source-file src="src/ios/PdfToPng.swift" />
    </platform>
    <!-- ios -->

    <!-- android -->
    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="PdfToPng">
          <param name="android-package" value="com.bendspoons.pdftopng.PdfToPng"/>
        </feature>
      </config-file>

      <resource-file src="libs/java-rt-jar-stubs-1.5.0.jar" target="libs/java-rt-jar-stubs-1.5.0.jar" />

      <source-file src="src/android/PdfToPng.java" target-dir="src/com/bendspoons/pdftopng" />
    </platform>
    <!-- android -->

</plugin>
